footer {
  margin-top: 5rem;
}

.order-footer {
  display: flex;
}

.order-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
}

.order-section img {
  width: 10%;
  color: white;
}

.order-desc {
  width: 70%;
}

.links-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 3rem 1rem;
}

.links-footer-des {
  width: 30%;
}

.links-footer-des a {
  text-decoration: none;
  color: black;
}

.links-footer-des a:hover {
  color: black;
}

.link-footer-1,
.link-footer-2,
.link-footer-3 p {
  cursor: pointer;
}

.link-footer-1 p:hover,
.link-footer-2 p:hover,
.link-footer-3 p:hover {
  color: var(--onSecondary-color);
  transition: var(--transition);
}

.socials-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--onSecondary-color);
  padding-top: 1rem;
}

.socials img {
  width: 2%;
  margin: 0 0.5rem;
}

@media screen and (max-width: 1024px) {
  .links-footer-des {
    width: 50%;
  }

  .link-footer-1,
  .link-footer-2,
  .link-footer-3 {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .links-footer-des {
    width: 40%;
  }

  .order-footer {
  flex-wrap: wrap;
}
}

@media screen and (max-width: 400px) {
  .links-footer-des {
    width: 100%;
  }
}
